<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AddAgencyServlet</servlet-name>
        <servlet-class>Controller.AddAgencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>Controller.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAgencyServlet</servlet-name>
        <servlet-class>Controller.ListAgencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InactiveAgencyServlet</servlet-name>
        <servlet-class>Controller.InactiveAgencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgencyDetailServlet</servlet-name>
        <servlet-class>Controller.AgencyDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAgencyServlet</servlet-name>
        <servlet-class>Controller.EditAgencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IntroduceServlet</servlet-name>
        <servlet-class>Controller.IntroduceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>Controller.ViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeManager</servlet-name>
        <servlet-class>Controller.HomeManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterAgencyServlet</servlet-name>
        <servlet-class>Controller.FilterAgencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerListServlet</servlet-name>
        <servlet-class>Controller.CustomerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>Controller.ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetailServlet</servlet-name>
        <servlet-class>Controller.CustomerDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePromotionServlet</servlet-name>
        <servlet-class>Controller.UpdatePromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffHomeServlet</servlet-name>
        <servlet-class>Controller.StaffHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyConsultationServlet</servlet-name>
        <servlet-class>Controller.ReplyConsultationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionServlet</servlet-name>
        <servlet-class>Controller.PromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionManagerServlet</servlet-name>
        <servlet-class>Controller.PromotionManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionManagerDetailServlet</servlet-name>
        <servlet-class>Controller.PromotionManagerDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePromotionServlet</servlet-name>
        <servlet-class>Controller.DeletePromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteConsultationServlet</servlet-name>
        <servlet-class>Controller.DeleteConsultationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultationManagerServlet</servlet-name>
        <servlet-class>Controller.ConsultationManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPromotionServlet</servlet-name>
        <servlet-class>Controller.AddPromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddConsultationServlet</servlet-name>
        <servlet-class>Controller.AddConsultationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionDetailServlet</servlet-name>
        <servlet-class>Controller.PromotionDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffProfileServlet</servlet-name>
        <servlet-class>Controller.StaffProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerEditServlet</servlet-name>
        <servlet-class>Controller.CustomerEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffProfileServlet</servlet-name>
        <servlet-class>Controller.UpdateStaffProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordStaffServlet</servlet-name>
        <servlet-class>Controller.ChangePasswordStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCustomerServlet</servlet-name>
        <servlet-class>Controller.FilterCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAddServlet</servlet-name>
        <servlet-class>Controller.CustomerAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MotorbikeInsuranceServlet</servlet-name>
        <servlet-class>Controller.MotorbikeInsuranceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsManagerServlet</servlet-name>
        <servlet-class>Controller.NewsManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewsServlet</servlet-name>
        <servlet-class>Controller.AddNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchContractServlet</servlet-name>
        <servlet-class>Controller.SearchContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsManagerDetailServlet</servlet-name>
        <servlet-class>Controller.NewsManagerDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNewsServlet</servlet-name>
        <servlet-class>Controller.UpdateNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNewsServlet</servlet-name>
        <servlet-class>Controller.DeleteNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsDetailServlet</servlet-name>
        <servlet-class>Controller.NewsDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsServlet</servlet-name>
        <servlet-class>Controller.NewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompensationHistoryServlet</servlet-name>
        <servlet-class>Controller.CompensationHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculateInsurancePageServlet</servlet-name>
        <servlet-class>Controller.CalculateInsurancePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompensationRequestServlet</servlet-name>
        <servlet-class>Controller.CompensationRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompensationApproveServlet</servlet-name>
        <servlet-class>Controller.CompensationApproveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccidentHistoryervlet</servlet-name>
        <servlet-class>Controller.AccidentHistoryervlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAgencyServlet</servlet-name>
        <url-pattern>/addAgency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAgencyServlet</servlet-name>
        <url-pattern>/listAgency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InactiveAgencyServlet</servlet-name>
        <url-pattern>/inactiveAgency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgencyDetailServlet</servlet-name>
        <url-pattern>/agencyDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAgencyServlet</servlet-name>
        <url-pattern>/editAgency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IntroduceServlet</servlet-name>
        <url-pattern>/introduce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeManager</servlet-name>
        <url-pattern>/homeManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterAgencyServlet</servlet-name>
        <url-pattern>/filterAgency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerListServlet</servlet-name>
        <url-pattern>/customerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetailServlet</servlet-name>
        <url-pattern>/customerDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePromotionServlet</servlet-name>
        <url-pattern>/updatePromotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffHomeServlet</servlet-name>
        <url-pattern>/staffHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyConsultationServlet</servlet-name>
        <url-pattern>/replyConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionServlet</servlet-name>
        <url-pattern>/promotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionManagerServlet</servlet-name>
        <url-pattern>/promotionManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionManagerDetailServlet</servlet-name>
        <url-pattern>/promotionManagerDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePromotionServlet</servlet-name>
        <url-pattern>/deletePromotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteConsultationServlet</servlet-name>
        <url-pattern>/deleteConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultationManagerServlet</servlet-name>
        <url-pattern>/consultationManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPromotionServlet</servlet-name>
        <url-pattern>/addPromotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddConsultationServlet</servlet-name>
        <url-pattern>/addConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionDetailServlet</servlet-name>
        <url-pattern>/promotionDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffProfileServlet</servlet-name>
        <url-pattern>/staffProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerEditServlet</servlet-name>
        <url-pattern>/customerEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffProfileServlet</servlet-name>
        <url-pattern>/updateStaffProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordStaffServlet</servlet-name>
        <url-pattern>/changePasswordStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCustomerServlet</servlet-name>
        <url-pattern>/filterCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAddServlet</servlet-name>
        <url-pattern>/customerAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MotorbikeInsuranceServlet</servlet-name>
        <url-pattern>/motorbikeInsurance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsManagerServlet</servlet-name>
        <url-pattern>/newsManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchContractServlet</servlet-name>
        <url-pattern>/searchContract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewsServlet</servlet-name>
        <url-pattern>/addNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsManagerDetailServlet</servlet-name>
        <url-pattern>/newsManagerDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNewsServlet</servlet-name>
        <url-pattern>/updateNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNewsServlet</servlet-name>
        <url-pattern>/deleteNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetailServlet</servlet-name>
        <url-pattern>/newsDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsServlet</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompensationHistoryServlet</servlet-name>
        <url-pattern>/compensationHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculateInsurancePageServlet</servlet-name>
        <url-pattern>/calculateInsurancePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompensationRequestServlet</servlet-name>
        <url-pattern>/compensation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompensationApproveServlet</servlet-name>
        <url-pattern>/compensationApprove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccidentHistoryervlet</servlet-name>
        <url-pattern>/accidentHistory</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
