<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AddAgencyServlet</servlet-name>
        <servlet-class>Controller.AddAgencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>Controller.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAgencyServlet</servlet-name>
        <servlet-class>Controller.ListAgencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InactiveAgencyServlet</servlet-name>
        <servlet-class>Controller.InactiveAgencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgencyDetailServlet</servlet-name>
        <servlet-class>Controller.AgencyDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addConsultationServlet</servlet-name>
        <servlet-class>Controller.addConsultationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultationManagementServlet</servlet-name>
        <servlet-class>Controller.ConsultationManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAgencyServlet</servlet-name>
        <servlet-class>Controller.EditAgencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IntroduceServlet</servlet-name>
        <servlet-class>Controller.IntroduceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>Controller.ViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyConsultationServlet</servlet-name>
        <servlet-class>Controller.ReplyConsultationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteConsultationServlet</servlet-name>
        <servlet-class>Controller.DeleteConsultationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailConsultationServlet</servlet-name>
        <servlet-class>Controller.DetailConsultationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeManager</servlet-name>
        <servlet-class>Controller.HomeManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterAgencyServlet</servlet-name>
        <servlet-class>Controller.FilterAgencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerListServlet</servlet-name>
        <servlet-class>Controller.CustomerListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAgencyServlet</servlet-name>
        <url-pattern>/addAgency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAgencyServlet</servlet-name>
        <url-pattern>/listAgency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InactiveAgencyServlet</servlet-name>
        <url-pattern>/inactiveAgency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgencyDetailServlet</servlet-name>
        <url-pattern>/agencyDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addConsultationServlet</servlet-name>
        <url-pattern>/addConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultationManagementServlet</servlet-name>
        <url-pattern>/ConsultationManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAgencyServlet</servlet-name>
        <url-pattern>/editAgency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IntroduceServlet</servlet-name>
        <url-pattern>/introduce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyConsultationServlet</servlet-name>
        <url-pattern>/ReplyConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteConsultationServlet</servlet-name>
        <url-pattern>/deleteConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailConsultationServlet</servlet-name>
        <url-pattern>/DetailConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeManager</servlet-name>
        <url-pattern>/homeManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterAgencyServlet</servlet-name>
        <url-pattern>/filterAgency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerListServlet</servlet-name>
        <url-pattern>/customerList</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
