/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 18, 2024, 3:15:16 PM
    Author     : tranm
*/

/* Add agency*/
#addAgency-page,
#agencyDetail-page,
#editAgency-page{
    background-image: url(../images/side-view-man-with-motorbike.jpg);
    background-size: cover;
}

#listAgency-page {
    margin-left: 250px;
}



.wrraper {
    width: 100%;
    min-height: 1000px;
    /*background-color: #d9d9d9;*/
    padding-top:100px

}

.add-form {
    width: 638px;
    height: 696px;
    margin-top: 20px;
    flex-shrink: 0;
    background: #FFF;
}

.add-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.add-form__title {
    font-size: 34px;
    font-weight: 700;

}

.back-btn{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 40px;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 34px;
    background-color: #2ADBA3;
    color: #fff;

}

.back-btn:hover {
    background-color: #349375;
    color: #fff;
    cursor: pointer;
}

.back-icon {
    position: absolute;
    top: 9px;
    left: 18px;
}



.form-wrapper {
    margin: 20px 50px;
}

.input-select {
    width: 473px;
    height: 41px;
    border-radius: 11px;
    border: 1px solid #000;


}

.input-full{
    width: 473px;
    height: 41px;
    border-radius: 11px;
    border: 1px solid #000;
}

.input-label {
    font-size: 18px;
    margin-bottom: 5px;
}


.input-wrapper {
    display: flex;
    width: 473px;
    justify-content: space-between
}

.input-half {
    width: 200px;
    height: 41px;
    border-radius: 11px;
    border: 1px solid #000;
}

.error-messeage {
    font-size: 15px;
    margin-top: 4px;
    display: block;
}

.invalid .error-messeage{
    color: red;
}

.invalid input{
    border-color: red;
}

.btn-wrapper {
    min-width: 127px;
    height: 50px;
    border-radius: 24px;
    color: #fff;
    text-decoration: none;
    outline: none;
    border: none;
}

.btn-wrapper.btn-cancel{
    background-color: #D9D9D9;
}
.btn-wrapper.btn-save{
    background-color: #54CDD1;
}

.btn-save:hover {
    background-color: #418c8e;
}

.btn-cancel:hover {
    background-color: #665f5f;

}

.btn-wrapper.btn-continue{
    background-color: #7D36EE;
}


/*Agency list*/

.list-agency--wrapper {
    margin-top: 50px;
    text-align: center;
}

.list-agency--header {
    font-weight: 700;
}

.container-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-agency--search{
    width: 336px;
    height: 46px;
    position: relative;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    padding-left: 16px;
    display: flex;
    border: 1.5px solid transparent;
}

.list-agency--search input{
    height: 100%;
    flex: 1;
    outline: none;
    border: none;
    background-color: transparent;

}

.search-agency--btn {
    outline: none;
    border: none;
    background-color: transparent;
}

.btn-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #d9d9d9;
    transition: background-color 0.3s, color 0.3s;

}

.btn-filter:hover {
    color: #fff;
    background-color: #555;
}


.btn-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    transition: background-color 0.3s, color 0.3s;

}

.btn-delete:hover {
    color: #fff;
    background-color: #870f0f;
}

.btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #54CDD1;
    transition: background-color 0.3s, color 0.3s;

}

.btn-add:hover {
    color: #fff;
    background-color: #8ec0c1;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    min-width: 400px;
    width: 100%;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.agency-link {
    color: #009879;
    text-decoration: none;
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

}

/*Agency detail*/


.link-back {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin: 10px;
    color: #000;
    text-decoration: none;
}

.link-back i {
    padding: 10px;

}


.agency-info, .agency-review {
    border-radius: 20px;
    border: 1px solid #000;
    background-color: #fff;
    box-shadow: 1px 1px 8px #888888;
}

.agency-info {
    height: 400px;

}

.agency-review {
    min-height: 584px;


}


.agency-info--wrapper {
    margin: 20px 20px 60px 20px;
}

.agency-info-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.btn-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    background-color: #54CDD1;
}
.btn-edit:hover {
    background-color: #4B8A8C;
    color: #fff;

}


.agency-staffs {
    width: 100%;
    min-height: 216px;
    background-color: #fff;
}

.employee-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.employee-table th, .employee-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.employee-table th {
    background-color: #f2f2f2;
    color: #333;
}

.employee-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.employee-table tr:hover {
    background-color: #f1f1f1;
}


/*Edit Agency*/
.edit-agency--wrapper {
    width: 100%;
    min-height: 1000px;
    padding-top:100px
}

.edit-form-wrapper {
    min-height: 696px;
    border-radius: 14px;
    background-color: #fff;

}

/*Filter btn*/

.select-filter {
    width: 200px;
    height: 30px;
    border-color: #d9d9d9;
}



/*Pagination*/

.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.pagination a {
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination .active {
    background-color: #007bff;
    color: white;
}

.pagination .disabled {
    pointer-events: none;
    color: #aaa;
    border-color: #aaa;
}
