/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 18, 2024, 3:15:16 PM
    Author     : tranm
*/

#addAgency-page{
    background-image: url(../images/z5453913650721_042ca77cfeb562f813e71bf9a50dc77e.jpg);
    background-size: cover;
}

.wrraper {
    width: 100%;
    min-height: 1000px;
    /*background-color: #d9d9d9;*/
    padding-top:100px

}

.add-form {
    width: 638px;
    height: 696px;
    margin-top: 20px;
    flex-shrink: 0;
    background: #FFF;
}

.add-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.add-form__title {
    font-size: 34px;
    font-weight: 700;

}

.back-btn{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 40px;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 34px;
    background-color: #2ADBA3;
    color: #fff;

}

.back-btn:hover {
    background-color: #349375;
    cursor: pointer;
}

.back-icon {
    position: absolute;
    top: 9px;
    left: 18px;
}



.form-wrapper {
    margin: 20px 50px;
}



.input-full{
    width: 473px;
    height: 41px;
    border-radius: 11px;
    border: 1px solid #000;
}

.input-label {
    font-size: 18px;
    margin-bottom: 5px;
}


.input-wrapper {
    display: flex;
    width: 473px;
    justify-content: space-between
}

.input-half {
    width: 200px;
    height: 41px;
    border-radius: 11px;
    border: 1px solid #000;
}

.btn {
    min-width: 127px;
    height: 50px;
    border-radius: 24px;
    color: #fff;
}

.btn.btn-cancel{
    background-color: #D9D9D9;
}
.btn.btn-save{
    background-color: #54CDD1;
}
.btn.btn-continue{
    background-color: #7D36EE;
}