/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 29, 2024, 9:44:33 PM
    Author     : tranm
*/
#listCustomer-page {
    width: 100%;
    padding-top:100px;
}
 


