/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template

 
    Created on : May 25, 2024, 4:39:02 PM
    Author     : tranm


*/

.dashboard{
    display: flex;
    height: 100vh;
    position: fixed;
    z-index: 1000;
}


.home-manager--wrapper {
    margin-left: 250px;
    flex-grow:  1;
    min-height: 800px;
    background-color: #f0f2fa;
}


.stat-cards-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 16px 16px;
    background-color: #fff;
    box-shadow: 0 15px 50px rgba(160, 163, 189, .1);
    border-radius: 10px;
}

.stat-cards-info__num {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #171717;
}
.stat-cards-info__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.22;
    color: #b9b9b9;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.chart-container {
    width: 48%;
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.chart {
    width: 100%;
    text-align: center;
}

.chart canvas {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 8px;
}


.users-table table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    line-height: 1.4;
    letter-spacing: -0.3px;
    color: #767676;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.users-table-info {
    line-height: 1.4;
    letter-spacing: -0.3px;
    color: #767676;
    height: 48px;
    border-bottom: 1.2px solid #dadbe4;
    font-size: 14px;
}

.users-table-info th {
    font-weight: 500;
}


.users-table td {
    background-color: #fff;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding-top: 15px;
    padding-bottom: 15px;
}

.users-table td:first-child {
    padding-left: 20px;
}

.users-table th:first-child {
    padding-left: 20px;
}

.users-table tbody {
    font-size: 14px;
}


.table-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 20px;
}

.table-wrapper table {
    min-width: 850px;
}

.table-wrapper table.posts-table {
    min-width: 944px;
}

.table-wrapper table.library-table {
    min-width: 483px;
}


.select-agency {
    padding: 0 30px 0 10px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    line-height: 36px;
    height: 36px;
    background: #fff;
    margin: 0 5px 5px 0;
}
