/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 21, 2024, 10:13:14 PM
    Author     : trand
*/
// F
color: #54CDD1;
 font-size: 32px;
 font-family: Inter;
 font-weight: 700;
 line-height: 48px;
 word-wrap: break-word

// Đăng nhập
color: white;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 line-height: 36px;
 word-wrap: break-word

// Giới thiệu
color: white;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 line-height: 36px;
 word-wrap: break-word

// Dịch vụ
color: white;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 line-height: 36px;
 word-wrap: break-word

// Tin tức
color: white;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 line-height: 36px;
 word-wrap: break-word

// Liên hệ
color: white;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 line-height: 36px;
 word-wrap: break-word

// Trang chủ
color: white;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 line-height: 36px;
 word-wrap: break-word

// Đăng kí
color: rgba(30.53, 210.57, 222.06, 0.78);
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 line-height: 36px;
 word-wrap: break-word

// Sex
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 line-height: 36px;
 word-wrap: break-word

// Nam
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word

// Name
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 line-height: 36px;
 word-wrap: break-word

// Nguyễn Văn A
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word

// Register
color: white;
 font-size: 30px;
 font-family: Inter;
 font-weight: 700;
 line-height: 45px;
 word-wrap: break-word

// Date of birth
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 line-height: 36px;
 word-wrap: break-word

// 03/04/2022
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word

// Email Addreess
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 line-height: 36px;
 word-wrap: break-word

// tranduongw@gmail.com
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word

// Address
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 line-height: 36px;
 word-wrap: break-word

// Viet Nam
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word

// Phone Number
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 line-height: 36px;
 word-wrap: break-word

// 098999999
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word
